
body {
  font-family: 'Kanit', sans-serif;         
  overflow-x: hidden;
}


header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  max-width: 1740px;
  margin: 0 auto;
  background-color: black;
}

header .logo {
  width: 65px;
  
}

.title {
  width: 290px;
  height: 90px
}

header .nav-menu {
  display: flex;
  align-items: center;
  height: 100%;
}

header nav li a {
  font-weight: bold;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 50px; 
  transition: 0.2s;

}

header nav li a:hover {
  background-color: red;
}

.navigation ul li a{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.5s;
}

.navigation i{
  cursor: pointer;
  font-size: 1.5rem;
}
.menu{
  cursor: pointer;
  display: none;
  margin: 30px;
}
.menu .bar{
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background: #fff;
  margin: 5px auto;
  transition: all 0.3s;
  
}
.menu .bar:nth-child(),
.menu .bar:nth-child(3){
 color: #fff;
 }

.conteudo {
  border-top: 0.4px solid #fff2e7;
}

.accordions {
  margin: 55px 35px 30px 75px;
  width: 89%;
}


  .titulo {
    background-color: #333333;
    width: 97%;
    height: 60px;
    padding: 11px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  } 

  .titulo h3 {
    color: rgb(225, 225, 225);
  }

  .titulo .arrow {
    width: 20px;
    transition: 0.3s;
  }

  p {
    width: 97%;
    background-color: #e8e7e7;
    padding: 20px;
    box-sizing: border-box;
  }

  .view {
    display: block;
  }

  .hide {
    display: none;
  }

  .description{
    background-color: #212121;
    font-size: 10px;
    color: #fafafa;
    text-align: center;
    height: 45px;
  }

  .description h2{
    padding-top: 10px;
    font-family: 'Kanit';
    letter-spacing: 2px;
  }

  .subtitle {
    font-size: 22px;
  }

  .linha {
    width: 91%;
    font-size: 12px;
    color: rgb(220, 220, 220);
    border-bottom: 0.4px solid #fff2e7;
    margin-top: 60px;
    padding-bottom: 5px;
    margin-left: 40px;
  }

  .linha h2 {
    padding-left: 20px;
  }

  .linha2 {
    width: 91%;
    font-size: 12px;
    color: rgb(220, 220, 220);
    border-bottom: 0.4px solid #fff2e7;
    margin-top: 100px;
    padding-bottom: 5px;
    margin-left: 40px;
  }

  .linha2 h2 {
    padding-left: 20px;
  }

  .historiaV {
    padding-top: 30px;
   }

 
  .serie {
    display: flex;
    width: 90%;
    height: 350px;
    margin: 50px  2px 10px 20px;
    border-radius: 10px;
    background-color: rgb(24, 19, 113);
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  .serie img{
    width: 240px;
    height: 330px;
    margin: 10px;
    border-radius: 10px;
  }
 
  
  
.serie button {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin: 20px;
  font-weight: bold;
  background-color: #333333;
 text-transform: uppercase;
 display: flex;

}

 a {
  text-decoration: none;
  color: #fff;
}

buttons{
  display: flex;
  flex-direction: column;
  width: 190px;
  align-items: center;
}


 button:hover {
  transform: scale(1.1);
  background-color: red;
}


  .filme {
    display: flex;
    width: 90%;
    height: 350px;
    margin: 50px  2px 10px 20px;
    border-radius: 10px;
    background-color: rgb(24, 19, 113);
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  .filme img{
    width: 240px;
    height: 330px;
    margin: 10px;
    border-radius: 10px;
  }
 
  
  
.filme button {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin: 20px;
  font-weight: bold;
  background-color: #333333;
 text-transform: uppercase;
 display: flex;

}

 a {
  text-decoration: none;
  color: #fff;
}

buttons{
  display: flex;
  flex-direction: column;
  width: 190px;
  align-items: center;
}


 button:hover {
  transform: scale(1.1);
  background-color: red;
}

.curioV {
  padding: 40px;
}
 

  
/* responsive */

@media (max-width: 1740px) {
  body {
    background-color: rgb(8, 8, 8);
  }

  .fundo {
    display: none;
  }

  .container {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    gap: 30px; /*desgruda os elementos*/
  }

  .menu {
    display: block;
  }
  .menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--dark);
    gap: -10px;
    transition: 0.3s;
  }
  .nav-menu.ativo {
    display: flex;
    background: #180A5C;
    right: 0;
    margin-top: 50px;
    z-index: 1;
    position: absolute;
  }
  .nav-item {
    margin: 16px 0;
    color: #fff;
  }

  .menu.ativo span {
    background-color: red;
   
  }

  #menuAtivo {
    color: var(--white);
  }
  #menuAtivo:hover {
    font-style: bold;
    color: var(--red);
  }

  .container .imagem-titulo {
    max-width: 75%;
  }

  .modal .fechar-modal {
    width: 30px;
    line-height: 30px;
  }

  .modal #video {
    width: 300px;
    height: 169px;
  }
  

}

@media (max-width: 775px) {
  .header {
    flex-wrap: wrap;
    gap: 10px;
  }

  .menu {
    display: block;
  }
  .menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--dark);
    gap: -10px;
    transition: 0.3s;
  }
  .nav-menu.ativo {
    display: flex;
    background-color: #180A5C;
    
  }
  .nav-item {
    margin: 16px 0;
    color: #fff;
  }

  .menu.ativo span {
    background-color: red;
   
  }

  #menuAtivo {
    color: var(--white);
  }
  #menuAtivo:hover {
    font-style: bold;
    color: var(--red);
  }

  .container .imagem-titulo {
    max-width: 75%;
  }

 .description {
  height: 65px;
 }

  .modal .fechar-modal {
    width: 30px;
    line-height: 30px;
  }

  .modal #video {
    width: 300px;
    height: 169px;
  }

  .linha {
    width: 91%;
  }
  .linha2 {
    width: 91%;
  }
}

@media (max-width: 476px) {

  .modal #video {
    width: 250px;
    height: 140px;
  }
  .description{
    background-color: #212121;
    font-size: 10px;
    color: #fafafa;
    text-align: center;
    width: 96%;
    height: 78px;
  }
  .accordions {
    margin: 50px 35px 30px 50px;
    width: 79%;
  }
  .accordion .historiaV {
     width: 100%;
     height: 50%;
  }
  .linha {
    width: 88%;
    margin-left: 25px;
  }
  .linha2 {
    width: 81%;
  }
  .serie button {
    width: 90%;
    height: 60px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 10px 1px 30px 1px;
    font-weight: bold;
    background-color: #333333;
    text-transform: uppercase;
    display: flex;
    
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  buttons{
    display: flex;
    flex-direction: column;
    width: 50px;
    align-items: center;
  }
  button:hover {
    transform: scale(1.1);
    background-color: red;
  }
  .filme button {
    width: 90%;
    height: 60px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 10px 1px 30px 1px;
    font-weight: bold;
    background-color: #333333;
   text-transform: uppercase;
   display: flex;
  
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  buttons{
    display: flex;
    flex-direction: column;
    width: 50px;
    align-items: center;
  }
  button:hover {
    transform: scale(1.1);
    background-color: red;
  }
  .accordion .curioV {
     width: 100%;
     height: 50%;
  }
  
}


@media (max-width: 375px) {
  header .logo {
    width: 59px;
  }
  
  .title {
    width: 230px;
    height: 80px;
  }
  
  .menu {
    margin-left: 20px;
  }
  
  .serie button {
    width: 90%;
    height: 89px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 10px 1px 20px 1px;
    font-weight: bold;
    background-color: #333333;
   text-transform: uppercase;
   display: flex;
  text-align: center;
  }
  
   a {
    text-decoration: none;
    color: #fff;
  }
  
  buttons{
    display: flex;
    flex-direction: column;
    width: 50px;
    align-items: center;
  }
  button:hover {
    transform: scale(1.1);
    background-color: red;
  }
  .filme button {
    width: 90%;
    height: 89px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 10px 1px 20px 1px;
    font-weight: bold;
    background-color: #333333;
   text-transform: uppercase;
   display: flex;
  text-align: center;
  
  }
  
   a {
    text-decoration: none;
    color: #fff;
  }
  
  buttons{
    display: flex;
    flex-direction: column;
    width: 50px;
    align-items: center;
  }
  button:hover {
    transform: scale(1.1);
    background-color: red;
  }
  

}







